footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px 180px 0 180px;
  background-color: #f6f6f6;
  &.site-footer {
    color: #999;
    font-size: 12px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    text-align: left;
    margin: 20px 0;
  }
}

@media (min-width: 992px) {
  footer {
    ul {
      float: right;
    }
    li {
      margin: 0 0 0 40px;
      display: inline-block;
    }
    a {
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }
}
#social {
  font-size: large;
}

#fb {
  float: right;
  padding: 0px 10px 10px 10px;
  text-decoration: none;
}

#twitter {
  float: right;
  padding: 0px 0px 10px 10px;
  text-decoration: none;
}

#github {
  float: right;
  padding: 0px 10px 10px 10px;
  text-decoration: none;
}
